.Skills {
  .right {
    .rightSub {
      background-color: rgba(59, 4, 131, 0.421);
      border-radius: 20px;
    }
  }
  .left {
    .leftSub {
      background-color: rgba(59, 4, 131, 0.421);
      border-radius: 20px;
    }
    .animeProgress {
      height: 4px;
      transition: 1s;
      -webkit-animation-name: viewElem;
      animation-name: viewElem;
      -webkit-animation-duration: 2s;
      animation-duration: 2s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }
    .viewElemHtml {
      background-color: rgb(226, 114, 22);
    }
    .viewElemcss {
      background-color: aqua;
    }
    .viewElemsass {
      background-color: rgb(189, 35, 60);
    }
    .viewElemBootsratp {
      background-color: rgb(98, 5, 185);
    }
    .viewElemAxios {
      background-color: orange;
    }
    .viewElemjs {
      background-color: rgb(214, 228, 18);
    }
    .viewElemSwiper,
    .viewElemReact {
      background-color: rgb(35, 56, 245);
    }
    .viewElemRedux {
      background-color: rgb(151, 12, 182);
    }
    .viewElemRegex {
      background-color: orangered;
    }
    .viewElemTypescript {
      background-color: #3178c6;
    }
  }

  @-webkit-keyframes viewElem {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }

  @keyframes viewElem {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }
}
