.MyPriject {
  .projectCard {
    transition: 0.5s;
    position: relative;
    background-color: rgba(16, 16, 53, 0.322);
    .overlayCard {
      position: absolute;
      background-color: rgba(255, 255, 255, 0.199);
      z-index: 10;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      align-items: center;
      justify-content: center;
      display: none;
      transition: 0.5s;
    }
    ul {
      direction: rtl;
      list-style: none;
    }

    &:hover {
      transform: scale(1.05);
      .overlayCard {
        display: flex;
      }
    }
  }
  .kasuka {
    li {
      &::before {
        content: "●";
        color: rgb(251, 255, 0);
        font-weight: bold;
        display: inline-block;
        margin-left: 1vw;
      }
    }
  }
  .trademan {
    li {
      &::before {
        content: "●";
        color: rgb(35, 140, 226);
        font-weight: bold;
        display: inline-block;
        margin-left: 1vw;
      }
    }
  }
  .im250db,
  .targetFire {
    li {
      &::before {
        content: "●";
        color: rgb(190, 195, 199);
        font-weight: bold;
        display: inline-block;
        margin-left: 1vw;
      }
    }
  }
  .Digikala {
    li {
      &::before {
        content: "●";
        color: red;
        font-weight: bold;
        display: inline-block;
        margin-left: 1vw;
      }
    }
  }
  .play-film-for-student {
    li {
      &::before {
        content: "●";
        color: rgb(57, 54, 54);
        font-weight: bold;
        display: inline-block;
        margin-left: 1vw;
      }
    }
  }
  .price-guns {
    li {
      &::before {
        content: "●";
        color: rgb(216, 101, 30);
        font-weight: bold;
        display: inline-block;
        margin-left: 1vw;
      }
    }
  }
  .Insurance-dey {
    li {
      &::before {
        content: "●";
        color: rgb(10, 191, 231);
        font-weight: bold;
        display: inline-block;
        margin-left: 1vw;
      }
    }
  }
}

.baseClassPageNaite {
  font-size: 1.1rem;
  text-decoration: none;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0s;

  // ----------------
  border-radius: 51%;
  width: calc(12rem / 6);
  height: calc(12rem / 6);
  color: rgb(0, 0, 0);
  background-color: rgba(255, 251, 0, 0.789);
  border-radius: 51%;
  transition: 0s;

  &:hover {
    border: 2px solid red;
    color: rgb(0, 0, 0);
  }
}
.activePage {
  border-radius: 51%;

  color: white;
  background-color: red;
  border-radius: 51%;
  transition: 0s;
  &:hover {
    border: 2px solid rgba(239, 255, 12, 0.616);
    color: rgb(255, 255, 255);
    border-radius: 51%;
  }
}
