@charset "UTF-8";
@font-face {
  font-family: IranSans;
  src: url(/src/Fonts/IranSansX/Webfonts/fonts/woff/IRANSansX-Medium.woff);
}
* {
  padding: 0;
  margin: 0;
  font-family: IranSans;
}

html,
body {
  position: relative;
}

body {
  min-width: 400px;
  color: white;
  height: 100%;
}

.content {
  overflow: auto;
  position: relative;
}

.content::before {
  background-image: url("/public/images/back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-filter: brightness(0.5);
  filter: brightness(0.5);
}

button {
  background-color: rgb(16, 160, 112);
  color: white;
  transition: 0.3s;
  border-radius: 8px;
  border: none;
}
button:hover {
  color: black;
  background-color: white;
  box-shadow: rgb(62, 111, 163) 0px 1.5vw 2vw -10px;
}

@media only screen and (max-width: 578px) {
  h1 {
    font-size: 1.3rem;
  }
  h2 {
    font-size: 1.1rem;
  }
  h3 {
    font-size: 1rem;
  }
  p {
    font-size: 0.9rem;
  }
  li {
    font-size: 0.8rem;
  }
  button {
    font-size: 0.7rem;
  }
  .CallMe li {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 579px) {
  h1 {
    font-size: 1.9rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  p {
    font-size: 1.2rem;
  }
  li {
    font-size: 1.1rem;
  }
  button {
    font-size: 0.9rem;
  }
  .CallMe li {
    font-size: 1.7rem;
  }
}
.Header img {
  border-radius: 50%;
  width: 100%;
}

.AboutMe .divImoji {
  font-size: var(--fontMdBold);
  color: rgb(24, 154, 240);
}
.AboutMe .aboutMeCOntent {
  line-height: 2;
}
.AboutMe .right img {
  border-radius: 50%;
}

.Skills .right .rightSub {
  background-color: rgba(59, 4, 131, 0.421);
  border-radius: 20px;
}
.Skills .right .rightSub p,
.Skills .right .rightSub h3 {
  padding: 0 !important;
  margin: 0 !important;
}
.Skills .right .rightSub .JoBItemTitle {
  line-height: 1.5;
}
.Skills .left .leftSub {
  background-color: rgba(59, 4, 131, 0.421);
  border-radius: 20px;
}
.Skills .left .animeProgress {
  height: 4px;
  transition: 1s;
  -webkit-animation-name: viewElem;
  animation-name: viewElem;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.Skills .left .viewElemHtml {
  background-color: rgb(226, 114, 22);
}
.Skills .left .viewElemcss {
  background-color: aqua;
}
.Skills .left .viewElemsass {
  background-color: rgb(189, 35, 60);
}
.Skills .left .viewElemBootsratp {
  background-color: rgb(98, 5, 185);
}
.Skills .left .viewElemMaterialUi {
  background-color: aqua;
}
.Skills .left .viewElemAxios {
  background-color: orange;
}
.Skills .left .viewElemjs {
  background-color: rgb(214, 228, 18);
}
.Skills .left .viewElemSwiper,
.Skills .left .viewElemReact {
  background-color: rgb(35, 56, 245);
}
.Skills .left .viewElemRedux {
  background-color: rgb(151, 12, 182);
}
.Skills .left .viewElemRegex {
  background-color: orangered;
}
.Skills .left .viewElemTypescript {
  background-color: #3178c6;
}
.Skills .left .viewElemGithub {
  background-color: rgb(85, 85, 85);
}
@-webkit-keyframes viewElem {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes viewElem {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.MyPriject .projectCard {
  transition: 0.5s;
  position: relative;
  background-color: rgba(59, 4, 131, 0.421);
}
.MyPriject .projectCard .overlayCard {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.199);
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  display: none;
  transition: 0.5s;
}
.MyPriject .projectCard ul {
  direction: rtl;
  list-style: none;
}
.MyPriject .projectCard:hover {
  transform: scale(1.05);
}
.MyPriject .projectCard:hover .overlayCard {
  display: flex;
}
.MyPriject .kasuka li::before {
  content: "●";
  color: rgb(251, 255, 0);
  font-weight: bold;
  display: inline-block;
  margin-left: 1vw;
}
.MyPriject .trademan li::before {
  content: "●";
  color: rgb(35, 140, 226);
  font-weight: bold;
  display: inline-block;
  margin-left: 1vw;
}
.MyPriject .im250db li::before,
.MyPriject .targetFire li::before {
  content: "●";
  color: rgb(190, 195, 199);
  font-weight: bold;
  display: inline-block;
  margin-left: 1vw;
}
.MyPriject .Digikala li::before {
  content: "●";
  color: red;
  font-weight: bold;
  display: inline-block;
  margin-left: 1vw;
}
.MyPriject .play-film-for-student li::before {
  content: "●";
  color: rgb(57, 54, 54);
  font-weight: bold;
  display: inline-block;
  margin-left: 1vw;
}
.MyPriject .price-guns li::before {
  content: "●";
  color: rgb(216, 101, 30);
  font-weight: bold;
  display: inline-block;
  margin-left: 1vw;
}
.MyPriject .Insurance-dey li::before {
  content: "●";
  color: rgb(10, 191, 231);
  font-weight: bold;
  display: inline-block;
  margin-left: 1vw;
}
.MyPriject .weather li::before {
  content: "●";
  color: rgb(131, 201, 217);
  font-weight: bold;
  display: inline-block;
  margin-left: 1vw;
}

.baseClassPageNaite {
  font-size: 1.1rem;
  text-decoration: none;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0s;
  border-radius: 51%;
  width: 2rem;
  height: 2rem;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 251, 0, 0.789);
  border-radius: 51%;
  transition: 0s;
}
.baseClassPageNaite:hover {
  border: 2px solid red;
  color: rgb(0, 0, 0);
}

.activePage {
  border-radius: 51%;
  color: white;
  background-color: red;
  border-radius: 51%;
  transition: 0s;
}
.activePage:hover {
  border: 2px solid rgba(239, 255, 12, 0.616);
  color: rgb(255, 255, 255);
  border-radius: 51%;
}

.CallMe {
  position: fixed;
  right: 3%;
  bottom: 5%;
  z-index: 10000;
}
.CallMe button {
  border-radius: 51%;
  width: 3.3333333333rem;
  height: 3.3333333333rem;
}
.CallMe .containerMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.CallMe .containerMenu .menu {
  overflow: hidden;
  top: -11.3rem;
  position: absolute;
  transform: rotate(-90deg);
}
.CallMe .containerMenu .mainDivMenu {
  width: 0%;
  opacity: 0;
  border-radius: 25px;
  background-color: rgba(151, 10, 151, 0.774);
}
.CallMe .containerMenu .mainDivMenu .itemSocial {
  transform: rotate(90deg);
  font-size: 1.5rem;
}
.CallMe .containerMenu .mainDivMenu .itemSocial a {
  color: white;
  transition: 0.3s;
}
.CallMe .containerMenu .mainDivMenu .itemSocial a:hover {
  color: goldenrod;
}

.openMenu {
  width: 0%;
  -webkit-animation: openMenuAnime 1s forwards;
  animation: openMenuAnime 1s forwards;
}

.closeMenu {
  width: 100%;
  -webkit-animation: closeMenuAnime 1s forwards;
  animation: closeMenuAnime 1s forwards;
}

@-webkit-keyframes openMenuAnime {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}
@keyframes openMenuAnime {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}
@-webkit-keyframes closeMenuAnime {
  0% {
    width: 100%;
    opacity: 1;
  }
  100% {
    width: 0%;
    opacity: 0;
  }
}
@keyframes closeMenuAnime {
  0% {
    opacity: 1;
    width: 100%;
  }
  100% {
    opacity: 0;
    width: 0%;
  }
}/*# sourceMappingURL=base.css.map */